@font-face {
    font-family: "MinionPro-Bold";
    src: url("assets/fonts/MinionPro-Bold/MinionPro-Bold.woff2") format("woff2"),
    url("assets/fonts/MinionPro-Bold/MinionPro-Bold.woff") format("woff"),
    url("assets/fonts/MinionPro-Bold/MinionPro-Bold.otf") format("otf"),
    url("assets/fonts/MinionPro-Bold/MinionPro-Bold.eot") format("eot"),
    url("assets/fonts/MinionPro-Bold/MinionPro-Bold.svg") format("svg"),
    url("assets/fonts/MinionPro-Bold/MinionPro-Bold.ttf") format("ttf");
}
@font-face {
    font-family: "MyriadPro-Regular";
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.woff") format("woff"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.otf") format("otf"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.eot") format("eot"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.svg") format("svg"),
    url("assets/fonts/MyriadPro-Regular/MyriadPro-Regular.ttf") format("ttf");
}
@font-face {
    font-family: "MyriadPro-Bold";
    src: url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.woff2") format("woff2"),
    url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.woff") format("woff"),
    url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.otf") format("otf"),
    url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.eot") format("eot"),
    url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.svg") format("svg"),
    url("assets/fonts/MyriadPro-Bold/MyriadPro-Bold.ttf") format("ttf");
}

body {

}

.container {

}

.container-logo {
    background-color: #17428d;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
}

.container-logo .logo {
    width: 100px;
}

.container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.container-footer img{
    height: 30px;
}
#containerFooterHint2{
    display: none;
}

.container-ui {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    pointer-events: none;
}

.container-ui img {
    width:35%;
    display: block;
    margin: 0 auto;
}


.popUpWindow{
    display: none;
    background-color: #17428d;
    font-family: Arial;
    color: #fff;
    width: 45%;
    min-height: 200px;
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 15px;
    z-index: 100;
}
.popUpWindow h2{
    font-family: "MinionPro-Bold";
    font-size: 15px;
    margin: 0;
}
.popUpWindow p{
    font-family: "MyriadPro-Regular";
    font-size: 11px;
    margin: 25px 0;
}
.popUpWindow img{
    position: absolute;
    display: block;
    top: 5%;
    left: -60%;
    width: 60%;
}
.popUpWindow button{
    background: #3874df;
    font-family: "MyriadPro-Bold";
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    text-transform: uppercase;
    border: none;
    display: block;
    margin: 0;
    padding: 5px 15px;
}
.sound{
    background: none;
    border: none;
    width: 40px;
    float: right;
    margin-right: 30px;
    padding: 5px 0;
    z-index: 101;
}
.sound img{
    display: block;
}
#soundOn{
    display: none;
}





@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}