
.container-logo {
    background-color: #17428d;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 15px;
}

.container-logo .logo {
    width: 50px;
}

.container-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
}
.container-footer img{
    height: 30px;
}
#containerFooterHint2{
    display: none;
}

.container-ui {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    text-align: center;
    pointer-events: none;
}

.container-ui img {
    width:35%;
    display: block;
    margin: 0 auto;
}


.popUpWindow{
    display: none;
    background-color: #17428d;
    font-family: Arial;
    color: #fff;
    width: 45%;
    position: absolute;
    top: 50%;
    right: 5%;
    padding: 20px;
    z-index: 100;
}
.popUpWindow h2{
    font-weight: 700;
    font-style: normal;
    font-size: 15px;
    line-height: 17px;
    margin: 0;
}
.popUpWindow p{
    font-weight: 400;
    font-style: normal;
    font-size: 11px;
    line-height: 13px;
    margin: 30px 0;
}
.popUpWindow img{
    position: absolute;
    display: block;
    top: 5%;
    left: -60%;
    width: 60%;
}
.popUpWindow a{
    background: #3874df;
    color: #ffffff;
    font-weight: 700;
    font-style: normal;
    font-size: 10px;
    line-height: 23px;
    text-transform: uppercase;
    text-decoration: none;
    border: none;
    display: block;
    float: left;
    margin: 0;
    padding: 0 15px;
}
.sound{
    background: none;
    border: none;
    width: 40px;
    float: right;
    margin-right: 30px;
    padding: 5px 0;
    z-index: 101;
}
.sound img{
    display: block;
}
#soundOn{
    display: none;
}





@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
    50% {
        -webkit-transform: scale3d(1.2, 1.2, 1.2);
        transform: scale3d(1.2, 1.2, 1.2)
    }
    to {
        -webkit-transform: scaleX(1);
        transform: scaleX(1)
    }
}